

<!-- Edit/Expanded Task View (note that it defaults to hidden) -->
<div class="expanded-view hidden" id="expandedTaskView">
    <button class="close-expanded-view" id = "closeExpandedView" aria-label="Close">&times;</button>
    <h4>Edit Task</h4>
    <div class="mb-3">
        <label class="form-label">Task Name</label>
        <input type="text" class="form-control taskName" id = "expandedTaskName" placeholder="Task Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control description" id = "expandedDescription" rows="4" placeholder="Task Description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Due Date</label>
        <input type="date" id = "expandedDueDate" class="form-control dueDate">
    </div>
    <div class="mb-3">
        <label class="form-label">Assignee</label>
        <div class="user-circle" id = "expandedAssignee" data-bs-toggle="modal" data-bs-target="#selectUserModal">+</div>
    </div>

    <button class="btn btn-success" id = "expandedMarkComplete">Mark Complete</button>
    <button class="btn btn-primary" id = "expandedSaveButton">Save Changes</button>
    <button class="btn btn-danger" id = "deleteActiveTaskButton" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
</div>