
    <!-- Sidebar Navigation -->
    <nav class="bg-dark text-white p-3 sidebar">
        <h4 class="text-white">Menu</h4>
        <ul class="nav flex-column">
            {{#each allProjects}}
                <li class="nav-item mb-2">
                <a class="nav-link text-white" href="/project/{{id}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>

        <div class="user-grid">
            {{#each allUsers}}             
                <div class="user-circle">{{this.initials}}</div>
            {{/each}}
            <div class="user-circle" data-bs-toggle="modal" data-bs-target="#addUserModal">+</div>
        </div>
    </nav>