
    <!-- Sidebar Navigation -->
    <nav class="bg-dark text-white p-3 sidebar d-flex flex-column vh-100">
        <h4 class="text-white">Task Tracker 9000</h4>
        <ul class="nav flex-column">
            {{#each allProjects}}
                <li class="nav-item mb-2">
                <a class="nav-link text-white" href="/project/{{id}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
                
        <button class="btn btn-outline-light w-100" id = "createProjectButton">Create Project</button>
        
        <div class="user-grid">
            {{#each allUsers}}             
                <div class="user-circle">{{this.initials}}</div>
            {{/each}}
            <div class="user-circle" data-bs-toggle="modal" data-bs-target="#addUserModal" id = "openAddUserButton">+</div>
        </div>
        
        <div class="mt-auto">
            <a href="/logout/" class="btn btn-outline-light w-100">Logout</a>
        </div>
    </nav>