html, body 
{
    height: 100%;
}

.sidebar 
{
    height: 100vh;
    width: 220px;
    position: sticky;
    top: 0;
}
  
.main-content {
    flex-grow: 1;
}
  
.expanded-view 
{
    width: 400px;
    background-color: #f8f9fa;
    padding: 2rem;
    border: 1px solid #dee2e6;
    position: relative;
    display: block;
}
  
.hidden 
{
    display: none;
}
  
.close-expanded-view 
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: #6c757d;
    cursor: pointer;
}

.user-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 10px;
    margin-top: 2rem;
}

.user-circle 
{
    width: 40px;
    height: 40px;
    background-color: #6c757d;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
  
.user-circle.add 
{
    background-color: #198754;
}

.login-card 
{
    max-width: 400px;
    width: 400px;
}